

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>
<div class="container col-xs-12 col-md-12" >
    <div class="page-title">
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center;">ای بابا، این صفحه پس کجاست!؟ به مدیر خبر می‌دم</h3>
            </div>
        </div><!-- Container /- -->
    </div>
</div>
<div class="col-sm-12" >
    <img src="~/Content/Image/NotFound.gif" title="" class="center" />
</div>
