<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="postslider-container">
                    <div id="slider_294" class="postslider slider-pro postslider-default  ">
                        <div class="sp-slides">
                            <div class="sp-slide">
                                <a href="post/post-20.html">
                                    <img width="640" height="315" src="~/Content/Image/blue-69762_640-640x315.jpg" class="sp-image wp-post-image" alt="">
                                </a>
                                <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-20.html">تابستان قصد داريد به كجا برويد؟</a>
                                    </h4>
                                    <a href="post/post-20.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="sp-slide">
                                <a href="post/post-21.html">
                                    <img width="640" height="315" src="~/Content/Image/microphone-626618_640-640x315.jpg" class="sp-image wp-post-image" alt="">
                                </a>
                                <a href="Post/Post-7.html" class="post-cat cat-cute">ناز </a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-21.html">پست هاي صوتي كه خودشان ميزبان خودشان هستند</a>
                                    </h4>
                                    <a href="post/post-21.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="sp-slide">
                                <a href="post/post-22.html">
                                    <img width="400" height="248" src="~/Content/Image/14574561382398.jpg" class="sp-image wp-post-image" alt="" srcset="~/Content/Image/14574561382398.jpg 400w, ~/Content/Image/14574561382398-300x186.jpg 300w" sizes="(max-width: 400px) 100vw, 400px">
                                </a>
                                <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-22.html">تست هاي چند صفحه اي + وضعيت پيشرفت</a>
                                    </h4>
                                    <a href="post/post-22.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="sp-slide">
                                <a href="post/post-23.html">
                                    <img width="665" height="315" src="~/Content/Image/8-665x315.jpg" class="sp-image wp-post-image" alt="">
                                </a>
                                <a href="Post/Post-7.html" class="post-cat cat-cute">ناز </a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-23.html">مین ها جهان را فتح می کنند</a>
                                    </h4>
                                    <a href="post/post-23.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="sp-slide">
                                <a href="post/post-24.html">
                                    <img width="665" height="315" src="~/Content/Image/microphone-626618_640-640x315.jpg" class="sp-image wp-post-image" alt="">
                                </a>
                                <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-24.html">چقدر خوب می دانید که "خانه بازی ها" چیست؟</a>
                                    </h4>
                                    <a href="post/post-24.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sp-thumbnails">
                            <div class="sp-thumbnail">
                                <div class="sp-thumbnail-text">
                                    <div class="sp-thumbnail-title">تابستان قصد داريد به كجا برويد؟</div>
                                </div>
                                <div class="sp-thumbnail-image-container">
                                    <img width="70" height="70" src="~/Content/Image/blue-69762_640-70x70.jpg" class="sp-thumbnail-image wp-post-image" alt="" srcset="~/Content/Image/blue-69762_640-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-180x180.jpg 180w" sizes="(max-width: 70px) 100vw, 70px">
                                </div>
                            </div>
                            <div class="sp-thumbnail">
                                <div class="sp-thumbnail-text">
                                    <div class="sp-thumbnail-title">پست های صوتی خود میزبان هستند</div>
                                </div>
                                <div class="sp-thumbnail-image-container">
                                    <img width="70" height="70" src="~/Content/Image/microphone-626618_640-70x70.jpg" class="sp-thumbnail-image wp-post-image" alt="" srcset="~/Content/Image/microphone-626618_640-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/microphone-626618_640-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/microphone-626618_640-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/microphone-626618_640-180x180.jpg 180w" sizes="(max-width: 70px) 100vw, 70px">
                                </div>
                            </div>
                            <div class="sp-thumbnail">
                                <div class="sp-thumbnail-text">
                                    <div class="sp-thumbnail-title">تست هاي چند صفحه اي + وضعيت پيشرفت</div>
                                </div>
                                <div class="sp-thumbnail-image-container">
                                    <img width="70" height="70" src="~/Content/Image/14574561382398-70x70.jpg" class="sp-thumbnail-image wp-post-image" alt="" srcset="~/Content/Image/14574561382398-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561382398-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561382398-180x180.jpg 180w" sizes="(max-width: 70px) 100vw, 70px">
                                </div>
                            </div>
                            <div class="sp-thumbnail">
                                <div class="sp-thumbnail-text">
                                    <div class="sp-thumbnail-title">مین ها جهان را فتح می کنند</div>
                                </div>
                                <div class="sp-thumbnail-image-container">
                                    <img width="70" height="70" src="~/Content/Image/8-70x70.jpg" class="sp-thumbnail-image wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-180x180.jpg 180w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-600x600.jpg 600w" sizes="(max-width: 70px) 100vw, 70px">
                                </div>
                            </div>
                            <div class="sp-thumbnail">
                                <div class="sp-thumbnail-text">
                                    <div class="sp-thumbnail-title">چقدر خوب می دانید</div>
                                </div>
                                <div class="sp-thumbnail-image-container">
                                    <img width="70" height="70" src="~/Content/Image/song-of-ice-and-fire-1177616_1280-70x70.jpg" sizes="(max-width: 70px) 100vw, 70px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist blogstyle  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">وبلاگ</span>
                        </h4>
                    </div>
                    <div class="author-grid row" id="author-grid">
                        <article class='col-md-4 format-standard hentry category-quiz'>
                            <div class="post-box">
                                <div class="entry-cover">
                                    <a href='' name='4'>  <img width='290' height='170' src='' alt='عذرخواهی آناهیتا همتی بابت یک موضع جنجالی'>  </a><a href="">
                                        <!-- post/post-20.html اضافه كردن مسير پست-->
                                        <!----اضافه كردن مسيز تصوير-->
                                        <img width="290" height="170" src="" alt="">  <!--اضافه كردن اي ال تي-->
                                    </a>
                                    <div class="post-category">
                                        <a href="" class="cat-quiz">شوخی</a> <!--اضافه كردن گروه شوخي لينك قرمز بالا-->
                                    </div>
                                    <a href="post/post-20.html" class="special-rm-arrow">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="entry-content">
                                    <h3 class="entry-title">
                                        <a href="post/post-20.html">تابستان قصد داريد به كجا برويد؟</a>
                                    </h3>
                                </div>
                                <div class="entry-footer">
                                    <div class=" row">
                                        <div class="col-md-12">
                                            <ul class="common-meta">
                                                <li>
                                                    <i class="fa fa-user"></i>
                                                    <a href="post/admin.html" title="Posts by admin" rel="author">مدير</a>
                                                </li>

                                                <li>
                                                    <i class="fa fa-comment"></i>
                                                    <a href="post/post-27.htmll">0</a>
                                                </li>
                                                <li class="post-like">
                                                    <a href="#">
                                                        <i class="fa fa-eye"></i>3480
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>
                <div id="catlist_790" class="catlist  ">
                    <div class="catlist-heading">
                        <h4>
                            <span class="catlist-title">آخرين رويدادها</span>
                        </h4>
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#" data-filter=".amazing">حیرت آور</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".bizarre">عجیب و غریب</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".cute">ناز </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".entertainment">سرگرمی</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".films">فیلم </a>
                            </li>
                            <li>
                                <a href="#" data-filter=".funny">سرگرمي</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".places">مکان ها</a>
                            </li>
                            <li>
                                <a href="#" data-filter=".quiz">شوخی</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-md-6 catlist-posts small-posts quiz ">
                            <a href="post/post-20.html">
                                <img width="70" height="70" src="~/Content/Image/blue-69762_640-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="~/Content/Image/blue-69762_640-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-180x180.jpg 180w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-20.html">تابستان قصد داريد به كجا برويد؟</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>ارديبهشت 09, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts cute health-well-being ">
                            <a href="post/post-21.html">
                                <img width="70" height="70" src="~/Content/Image/microphone-626618_640-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="~/Content/Image/microphone-626618_640-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/microphone-626618_640-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/microphone-626618_640-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/microphone-626618_640-180x180.jpg 180w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-21.html">پست هاي صوتي كه خودشان ميزبان خودشان هستند</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>ارديبهشت 06, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts quiz ">
                            <a href="post/post-22.html">
                                <img width="70" height="70" src="~/Content/Image/14574561382398-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="~/Content/Image/14574561382398-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561382398-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561382398-180x180.jpg 180w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-22.html">تست هاي چند صفحه اي + وضعيت پيشرفت</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>ارديبهشت 03, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts animals bizarre uncategorized ">
                            <a href="post/post-29.html">
                                <i class="format_icon fa fa-video-camera"></i>
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-29.html">ما تازه ترین ویدیوهای میزبانی خود را در اطراف خود داریم</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>ارديبهشت 02, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts cute ">
                            <a href="post/post-30.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/40-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/40-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/40-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/40-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/40-180x180.jpg 180w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-30.html">جاناتان لیوینگستون</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>ارديبهشت 02, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts cute entertainment uncategorized ">
                            <a href="post/post-23.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-180x180.jpg 180w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-600x600.jpg 600w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-23.html">مین ها جهان را فتح می کنند</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>ارديبهشت 02, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts amazing films ">
                            <a href="post/post-31.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/show-522602_1280-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/show-522602_1280-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/show-522602_1280-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/show-522602_1280-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/show-522602_1280-180x180.jpg 180w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/show-522602_1280-600x600.jpg 600w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-31.html">جیمز کوردن و جنا دوان تاتوم، تکامل بعدی در رقص را کشف کردند: نقاشان نوپا</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>فروردين 28, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts amazing places ">
                            <a href="post/post-32.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/9-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/9-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/9-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/9-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/9-180x180.jpg 180w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/9-600x600.jpg 600w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-32.html">خانه های منحصر به فرد ملی جغرافیایی جهان (12 عکس)</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>فروردين 28, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts bizarre entertainment ">
                            <a href="Post/Post-3.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561403248-1-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561403248-1-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561403248-1-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561403248-1-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561403248-1-180x180.jpg 180w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="Post/Post-3.html">چگونه افسردگی کانال کمدی خندوانه  را به یک كميك اينستاگرام مودبانه خنده دار</a>

                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>فروردين 28, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts uncategorized ">
                            <a href="post/post-33.html">
                                <i class="format_icon fa fa-hashtag"></i>
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-33.html">The daily most hillarious statuses from Facebook or Twitter</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>فروردين 22, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts entertainment sexy ">
                            <a href="http://www.google.com">
                                <i class="format_icon fa fa-link"></i>
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="http://www.google.com">
                                        لینک ویژه برجسته امروز یک وب سایت است که فرایند تولید مواد غذایی را هنر می کند
                                    </a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>فروردين 20, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts quiz ">
                            <a href="post/post-24.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/song-of-ice-and-fire-1177616_1280-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/song-of-ice-and-fire-1177616_1280-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/song-of-ice-and-fire-1177616_1280-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/song-of-ice-and-fire-1177616_1280-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/song-of-ice-and-fire-1177616_1280-180x180.jpg 180w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/song-of-ice-and-fire-1177616_1280-600x600.jpg 600w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-24.html">چقدر خوب می دانید که "خانه بازی ها" چیست؟</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>فروردين 09, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts funny ">
                            <a href="Post/Post-4.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/cheerleaders-710175_1280-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/cheerleaders-710175_1280-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/cheerleaders-710175_1280-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/cheerleaders-710175_1280-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/cheerleaders-710175_1280-180x180.jpg 180w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/cheerleaders-710175_1280-600x600.jpg 600w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="Post/Post-4.html">گوش کن به پاندا این بهترین کاری است که امروز می توانید انجام دهید</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>Jan 28, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts quiz ">
                            <a href="post/post-37.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-180x180.jpg 180w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-600x600.jpg 600w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-37.html">آيا شما آدم مهرباني هستيد ?</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>Jan 09, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 catlist-posts small-posts quiz ">
                            <a href="post/post-35.html">
                                <img width="70" height="70" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-70x70.jpg" class="attachment-viralnews-blog-thumb size-viralnews-blog-thumb wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-70x70.jpg 70w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-150x150.jpg 150w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-300x300.jpg 300w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-180x180.jpg 180w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-600x600.jpg 600w" sizes="(max-width: 70px) 100vw, 70px">
                            </a>
                            <div class="catitem-sm-content">
                                <h4 class="catitem-title">
                                    <a href="post/post-35.html">میخواهید یک پیتزا بخرید؟</a>
                                </h4>
                                <div class="catitem-meta">
                                    <span class="catitem-date">
                                        <i class="fa fa-calendar"></i>Jan 09, 1397
                                    </span>
                                    <span class="catitem-author">
                                        <i class="fa fa-user"></i> مدير
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist alternative  ">
                    <div class="bloglist-heading">
                        <h4 class="bloglist-title">
                            <span class="news-title">مطالب جالب</span>
                        </h4>
                    </div>
                    <div class="row">
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                    <h3 class="title">
                                        <a href="post/post-20.html">تابستان قصد داريد به كجا برويد؟</a>
                                    </h3>
                                    <a href="post/post-20.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/microphone-626618_640-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="Post/Post-7.html" class="post-cat cat-cute">ناز </a>
                                    <h3 class="title">
                                        <a href="post/post-21.html">پست هاي صوتي كه خودشان ميزبان خودشان هستند</a>
                                    </h3>
                                    <a href="post/post-21.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561382398-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                    <h3 class="title">
                                        <a href="post/post-22.html">تست هاي چند صفحه اي + وضعيت پيشرفت</a>
                                    </h3>
                                    <a href="post/post-22.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="Post/Post-7.html" class="post-cat cat-cute">ناز </a>
                                    <h3 class="title">
                                        <a href="post/post-23.html">مین ها جهان را فتح می کنند</a>
                                    </h3>
                                    <a href="post/post-23.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/9-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="Post/Post-5.html" class="post-cat cat-amazing">حیرت آور</a>
                                    <h3 class="title">
                                        <a href="post/post-32.html">خانه های منحصر به فرد ملی جغرافیایی جهان (12 عکس)</a>
                                    </h3>
                                    <a href="post/post-32.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561403248-1-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="Post/Post-6.html" class="post-cat cat-bizarre">عجیب و غریب</a>
                                    <h3 class="title">
                                        <a href="Post/Post-3.html">همانطور که مود ولي خندوانه افسردگی را به یک كميك ملودی خنده دار اينستاگرام هدایت کرد</a>
                                    </h3>
                                    <a href="Post/Post-3.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('~/Content/Image/song-of-ice-and-fire-1177616_1280-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                    <h3 class="title">
                                        <a href="post/post-24.html">چقدر خوب می دانید که "خانه بازی ها" چیست؟</a>
                                    </h3>
                                    <a href="post/post-24.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                    <h3 class="title">
                                        <a href="post/post-37.html">آيا شما آدم مهرباني هستيد ?</a>
                                    </h3>
                                    <a href="post/post-37.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4">
                            <div class="post-object" style="background-image:url('http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-290x170.jpg'); background-size:cover; background-repeat:no-repeat">
                                <div class="overlay"></div>
                                <div class="post-content">
                                    <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                    <h3 class="title">
                                        <a href="post/post-35.html">میخواهید یک پیتزا بخرید؟</a>
                                    </h3>
                                    <a href="post/post-35.html" class="readmore">بيشتر</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="bloglist default  ">
                    <div class="bloglist-posts">
                        <article class="row">
                            <div class="blogitem-media col-md-4">
                                <a href="post/post-20.html">
                                    <img width="290" height="170" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-290x170.jpg" class="attachment-viralnews-catlist-big size-viralnews-catlist-big wp-post-image" alt="">

                                </a>
                                <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                            </div>
                            <div class="col-md-8">
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title">
                                        <a href="post/post-20.html">تابستان قصد داريد به كجا برويد؟</a>
                                    </h4>
                                    <div class="blogitem-excerpt">پلیس که جرایم را بررسی می کند و وکلای وکلای منطقه ای که مجرمین را تحت تعقیب قرار می دهند. این داستان های آنهاست.</div>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date">
                                            <i class="fa fa-calendar"></i>ارديبهشت 09, 1397
                                        </span>
                                        <span class="blogitem-author">
                                            <i class="fa fa-user"></i> مدير
                                        </span>
                                        <span class="blogitem-comment">
                                            <i class="fa fa-comment"></i> 0
                                        </span>
                                        <span class="blogitem-view">
                                            <i class="fa fa-eye"></i>3480
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <a href="post/post-20.html" class="readmore">
                            <span>بیشتر بخوانيد</span>
                        </a>
                    </div>
                    <div class="bloglist-posts">
                        <article class="row">
                            <div class="blogitem-media col-md-4">
                                <a href="Post/Post-3.html">
                                    <img width="290" height="170" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/14574561403248-1-290x170.jpg" class="attachment-viralnews-catlist-big size-viralnews-catlist-big wp-post-image" alt="">

                                </a>
                                <a href="Post/Post-6.html" class="post-cat cat-bizarre">عجیب و غریب</a>
                            </div>
                            <div class="col-md-8">
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title">
                                        <a href="Post/Post-3.html">همانطور که مود ولچ comedian افسردگی را به یک comet ملودی خنده دار Instagram هدایت کرد</a>
                                    </h4>
                                    <div class="blogitem-excerpt">در نظام عدالت کیفری، مردم توسط دو گروه جداگانه و با اهمیت هستند. </div>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date">
                                            <i class="fa fa-calendar"></i>فروردين 28, 1397
                                        </span>
                                        <span class="blogitem-author">
                                            <i class="fa fa-user"></i> مدير
                                        </span>
                                        <span class="blogitem-comment">
                                            <i class="fa fa-comment"></i> 0
                                        </span>
                                        <span class="blogitem-view">
                                            <i class="fa fa-eye"></i>868
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <a href="Post/Post-3.html" class="readmore">
                            <span>بیشتر بخوانيد</span>
                        </a>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 32px">
                    <span class="vc_empty_space_inner"></span>
                </div>

                <div class="postslider-container">
                    <div id="slider_897" class="postslider slider-pro postslider-alternative  ">
                        <div class="sp-slides">
                            <div class="sp-slide">
                                <a href="post/post-20.html">
                                    <img width="640" height="426" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640.jpg" class="sp-image wp-post-image" alt="" srcset="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640.jpg 640w, http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/blue-69762_640-300x200.jpg 300w" sizes="(max-width: 640px) 100vw, 640px">
                                </a>
                                <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-20.html">تابستان قصد داريد به كجا برويد؟</a>
                                    </h4>
                                    <a href="post/post-20.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="sp-slide">
                                <a href="post/post-23.html">
                                    <img width="960" height="450" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-960x450.jpg" class="sp-image wp-post-image" alt="">
                                </a>
                                <a href="Post/Post-7.html" class="post-cat cat-cute">ناز </a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-23.html">مین ها جهان را فتح می کنند</a>
                                    </h4>
                                    <a href="post/post-23.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="sp-slide">
                                <a href="post/post-24.html">
                                    <img width="960" height="450" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/song-of-ice-and-fire-1177616_1280-960x450.jpg" class="sp-image wp-post-image" alt="">
                                </a>
                                <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-24.html">چقدر خوب می دانید که "خانه بازی ها" چیست؟</a>
                                    </h4>
                                    <a href="post/post-24.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="sp-slide">
                                <a href="post/post-37.html">
                                    <img width="960" height="450" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-960x450.jpg" class="sp-image wp-post-image" alt="">
                                </a>
                                <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-37.html">آيا شما آدم مهرباني هستيد ?</a>
                                    </h4>
                                    <a href="post/post-37.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="sp-slide">
                                <a href="post/post-35.html">
                                    <img width="960" height="450" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-960x450.jpg" class="sp-image wp-post-image" alt="">
                                </a>
                                <a href="quiz.html" class="post-cat cat-quiz">شوخی</a>
                                <div class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-vertical="0" data-width="100%" data-show-transition="up">
                                    <h4>
                                        <a href="post/post-35.html">میخواهید یک پیتزا بخرید؟</a>
                                    </h4>
                                    <a href="post/post-35.html" class="special-rm-arrow pull-right">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sp-thumbnails">
                            <img class="sp-thumbnail" src="~/Content/Image/blue-69762_640-70x70.jpg" width="70" height="70" alt="">
                            <img class="sp-thumbnail" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/02/8-70x70.jpg" width="70" height="70" alt="">
                            <img class="sp-thumbnail" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/song-of-ice-and-fire-1177616_1280-70x70.jpg" width="70" height="70" alt="">
                            <img class="sp-thumbnail" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/4-70x70.jpg" width="70" height="70" alt="">
                            <img class="sp-thumbnail" src="http://viralnews.weblusive-themes.com/wp-content/uploads/2016/03/pizza-404256_1280-70x70.jpg" width="70" height="70" alt="">
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery("document").ready(function () {
                        jQuery("#slider_897").sliderPro({
                            arrows: true,
                            buttons: false,
                            autoplay: true,
                            autoplayDelay: 4000,
                            fade: true,
                            fullScreen: true,
                            shuffle: false,
                            thumbnailWidth: 70,
                            thumbnailHeight: 70,
                            width: "100%",
                            thumbnailArrows: true,
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>