USE [master]
GO
/****** Object:  Database [GossipSite]    Script Date: 11/3/2018 12:28:53 AM ******/
CREATE DATABASE [GossipSite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GossipSite', FILENAME = N'E:\mahmood\Project\GossipDashboard\DataBase\GossipSite.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GossipSite_log', FILENAME = N'E:\mahmood\Project\GossipDashboard\DataBase\GossipSite_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GossipSite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GossipSite]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](2000) NOT NULL,
	[Subject1] [nvarchar](2000) NULL,
	[Subject2] [nvarchar](2000) NULL,
	[ContentPost] [nvarchar](max) NOT NULL,
	[ContentPost1] [nvarchar](max) NULL,
	[ContentPost2] [nvarchar](max) NULL,
	[QuotedFrom] [nvarchar](1000) NULL,
	[Url] [nvarchar](2000) NULL,
	[UrlMP3] [nvarchar](2000) NULL,
	[UrlVideo] [nvarchar](2000) NULL,
	[Views] [int] NULL,
	[Image1] [nvarchar](1000) NULL,
	[Image2] [nvarchar](1000) NULL,
	[Image3] [nvarchar](1000) NULL,
	[Image4] [nvarchar](1000) NULL,
	[LikePost] [int] NULL,
	[DislikePost] [int] NULL,
	[PublishCount] [int] NULL,
	[BackgroundColor] [nvarchar](50) NULL,
	[ModifyUserID] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostAnswer]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostAnswer](
	[PostAnswerID] [int] IDENTITY(1,1) NOT NULL,
	[PostQuestionID_fk] [int] NOT NULL,
	[Answer] [bit] NULL,
 CONSTRAINT [PK_PostAnswer] PRIMARY KEY CLUSTERED 
(
	[PostAnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostAttribute]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostAttribute](
	[PostAttributeID] [int] IDENTITY(1,1) NOT NULL,
	[PostID_fk] [int] NULL,
	[AttributeID_fk] [int] NOT NULL,
 CONSTRAINT [PK_PostCategory] PRIMARY KEY CLUSTERED 
(
	[PostAttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostComment]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostComment](
	[PostCommentID] [int] IDENTITY(1,1) NOT NULL,
	[PostID_fk] [int] NOT NULL,
	[Comment] [nvarchar](4000) NULL,
	[LikeComment] [int] NULL,
	[DislikeComment] [int] NULL,
 CONSTRAINT [PK_PostComment] PRIMARY KEY CLUSTERED 
(
	[PostCommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostQuestion]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostQuestion](
	[PostQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[PostID_fk] [int] NOT NULL,
	[Question] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_PostQuestion] PRIMARY KEY CLUSTERED 
(
	[PostQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTemperory]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTemperory](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](2000) NOT NULL,
	[Subject1] [nvarchar](2000) NULL,
	[Subject2] [nvarchar](2000) NULL,
	[ContentPost] [nvarchar](max) NOT NULL,
	[ContentPost1] [nvarchar](max) NULL,
	[ContentPost2] [nvarchar](max) NULL,
	[QuotedFrom] [nvarchar](1000) NULL,
	[Url] [nvarchar](2000) NULL,
	[UrlMP3] [nvarchar](2000) NULL,
	[UrlVideo] [nvarchar](2000) NULL,
	[Views] [int] NULL,
	[Image1] [nvarchar](1000) NULL,
	[Image2] [nvarchar](1000) NULL,
	[Image3] [nvarchar](1000) NULL,
	[Image4] [nvarchar](1000) NULL,
	[LikePost] [int] NULL,
	[DislikePost] [int] NULL,
	[PublishCount] [int] NULL,
	[BackgroundColor] [nvarchar](50) NULL,
	[ModifyUserID] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[IsCreatedPost] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PubBase]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PubBase](
	[PubBaseID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[NameFa] [nvarchar](500) NOT NULL,
	[NameEn] [nvarchar](500) NULL,
	[GroupBase] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[ClassName] [varchar](500) NULL,
	[AbobeClassName] [varchar](500) NULL,
	[Active] [bit] NULL,
	[ModifyUserID] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_PubBase] PRIMARY KEY CLUSTERED 
(
	[PubBaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](500) NULL,
	[Salt] [nvarchar](1000) NOT NULL,
	[Password] [nvarchar](1000) NOT NULL,
	[ModifyUserID] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[Image] [varbinary](max) NULL,
	[AboutUser] [nvarchar](3000) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserPost]    Script Date: 11/3/2018 12:28:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPost](
	[UserPostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID_fk] [int] NOT NULL,
	[PostID_fk] [int] NOT NULL,
	[ModifyUserID] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_UserPost] PRIMARY KEY CLUSTERED 
(
	[UserPostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
SET IDENTITY_INSERT [dbo].[PostAttribute] ON 

INSERT [dbo].[PostAttribute] ([PostAttributeID], [PostID_fk], [AttributeID_fk]) VALUES (5, 7, 22)
INSERT [dbo].[PostAttribute] ([PostAttributeID], [PostID_fk], [AttributeID_fk]) VALUES (6, 7, 12)
INSERT [dbo].[PostAttribute] ([PostAttributeID], [PostID_fk], [AttributeID_fk]) VALUES (7, 8, 22)
SET IDENTITY_INSERT [dbo].[PostAttribute] OFF
SET IDENTITY_INSERT [dbo].[PostComment] ON 

INSERT [dbo].[PostComment] ([PostCommentID], [PostID_fk], [Comment], [LikeComment], [DislikeComment]) VALUES (4, 5, N'عالی است', 5, 1)
INSERT [dbo].[PostComment] ([PostCommentID], [PostID_fk], [Comment], [LikeComment], [DislikeComment]) VALUES (5, 7, N'خیلی خوب بود', 10, 0)
INSERT [dbo].[PostComment] ([PostCommentID], [PostID_fk], [Comment], [LikeComment], [DislikeComment]) VALUES (6, 7, N'اگه میشه از این مطالب بیشتر بذارید', 7, 0)
SET IDENTITY_INSERT [dbo].[PostComment] OFF
SET IDENTITY_INSERT [dbo].[PostTemperory] ON 

INSERT [dbo].[PostTemperory] ([PostID], [Subject], [Subject1], [Subject2], [ContentPost], [ContentPost1], [ContentPost2], [QuotedFrom], [Url], [UrlMP3], [UrlVideo], [Views], [Image1], [Image2], [Image3], [Image4], [LikePost], [DislikePost], [PublishCount], [BackgroundColor], [ModifyUserID], [ModifyDate], [IsCreatedPost]) VALUES (1, N'ایرلندی‌ها تکلیف جرم «توهین به مقدسات» را مشخص می‌کنند', NULL, NULL, N' ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N' ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PostTemperory] ([PostID], [Subject], [Subject1], [Subject2], [ContentPost], [ContentPost1], [ContentPost2], [QuotedFrom], [Url], [UrlMP3], [UrlVideo], [Views], [Image1], [Image2], [Image3], [Image4], [LikePost], [DislikePost], [PublishCount], [BackgroundColor], [ModifyUserID], [ModifyDate], [IsCreatedPost]) VALUES (3, N'مکزیک؛ نجات مردی که گرفتار طغیان آب رودخانه شده بود', NULL, NULL, N' ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N' ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PostTemperory] OFF
SET IDENTITY_INSERT [dbo].[PubBase] ON 

INSERT [dbo].[PubBase] ([PubBaseID], [ParentID], [NameFa], [NameEn], [GroupBase], [Description], [ClassName], [AbobeClassName], [Active], [ModifyUserID], [ModifyDate]) VALUES (1, NULL, N'سرشاخه', NULL, NULL, NULL, NULL, NULL, 1, 1, CAST(0x00008EAC00000000 AS DateTime))
INSERT [dbo].[PubBase] ([PubBaseID], [ParentID], [NameFa], [NameEn], [GroupBase], [Description], [ClassName], [AbobeClassName], [Active], [ModifyUserID], [ModifyDate]) VALUES (11, 1, N'طبقه بندي پست ها', N'PostCategory', NULL, NULL, NULL, NULL, 1, 1, CAST(0x00008EAC00000000 AS DateTime))
INSERT [dbo].[PubBase] ([PubBaseID], [ParentID], [NameFa], [NameEn], [GroupBase], [Description], [ClassName], [AbobeClassName], [Active], [ModifyUserID], [ModifyDate]) VALUES (12, 11, N'سوال', N'quiz', NULL, NULL, N'category-quiz', N'cat-quiz', 1, 1, CAST(0x00008EAC00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[PubBase] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [FirstName], [LastName], [Salt], [Password], [ModifyUserID], [ModifyDate], [Image], [AboutUser]) VALUES (1, N'Arsalan', N'ارسلان', N'دانشور', N'1', N'1', 1, CAST(0x0000A6EE00000000 AS DateTime), NULL, NULL)
INSERT [dbo].[User] ([UserID], [UserName], [FirstName], [LastName], [Salt], [Password], [ModifyUserID], [ModifyDate], [Image], [AboutUser]) VALUES (2, N'Arman', N'آرمان', N'دانشور', N'1', N'1', 1, CAST(0x0000A6EE00000000 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserPost] ON 

INSERT [dbo].[UserPost] ([UserPostID], [UserID_fk], [PostID_fk], [ModifyUserID], [ModifyDate]) VALUES (2, 1, 5, NULL, NULL)
INSERT [dbo].[UserPost] ([UserPostID], [UserID_fk], [PostID_fk], [ModifyUserID], [ModifyDate]) VALUES (4, 1, 7, NULL, NULL)
INSERT [dbo].[UserPost] ([UserPostID], [UserID_fk], [PostID_fk], [ModifyUserID], [ModifyDate]) VALUES (5, 1, 8, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserPost] OFF
ALTER TABLE [dbo].[PubBase] ADD  CONSTRAINT [DF_ArcService_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[PostAnswer]  WITH CHECK ADD  CONSTRAINT [FK_PostAnswer_PostQuestion] FOREIGN KEY([PostQuestionID_fk])
REFERENCES [dbo].[PostQuestion] ([PostQuestionID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostAnswer] CHECK CONSTRAINT [FK_PostAnswer_PostQuestion]
GO
ALTER TABLE [dbo].[PostAttribute]  WITH CHECK ADD  CONSTRAINT [FK_PostCategory_Post] FOREIGN KEY([PostID_fk])
REFERENCES [dbo].[Post] ([PostID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostAttribute] CHECK CONSTRAINT [FK_PostCategory_Post]
GO
ALTER TABLE [dbo].[PostAttribute]  WITH CHECK ADD  CONSTRAINT [FK_PostCategory_PubBase] FOREIGN KEY([AttributeID_fk])
REFERENCES [dbo].[PubBase] ([PubBaseID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostAttribute] CHECK CONSTRAINT [FK_PostCategory_PubBase]
GO
ALTER TABLE [dbo].[PostComment]  WITH CHECK ADD  CONSTRAINT [FK_PostComment_Post] FOREIGN KEY([PostID_fk])
REFERENCES [dbo].[Post] ([PostID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostComment] CHECK CONSTRAINT [FK_PostComment_Post]
GO
ALTER TABLE [dbo].[PostQuestion]  WITH CHECK ADD  CONSTRAINT [FK_PostQuestion_Post] FOREIGN KEY([PostID_fk])
REFERENCES [dbo].[Post] ([PostID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostQuestion] CHECK CONSTRAINT [FK_PostQuestion_Post]
GO
ALTER TABLE [dbo].[UserPost]  WITH CHECK ADD  CONSTRAINT [FK_UserPost_Post] FOREIGN KEY([PostID_fk])
REFERENCES [dbo].[Post] ([PostID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPost] CHECK CONSTRAINT [FK_UserPost_Post]
GO
ALTER TABLE [dbo].[UserPost]  WITH CHECK ADD  CONSTRAINT [FK_UserPost_User] FOREIGN KEY([UserID_fk])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserPost] CHECK CONSTRAINT [FK_UserPost_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'به نقل از فرد یا سایت' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Post', @level2type=N'COLUMN',@level2name=N'QuotedFrom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تعداد دفعاتي كه پست پابليش شده است' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Post', @level2type=N'COLUMN',@level2name=N'PublishCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'طبقه بندي پست. ورزشي هنري و ...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PostAttribute', @level2type=N'COLUMN',@level2name=N'AttributeID_fk'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'لینک مربعی شکل بالای هر پست' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PubBase', @level2type=N'COLUMN',@level2name=N'AbobeClassName'
GO
USE [master]
GO
