<div>
    <div class="container col-xs-12 col-md-12">
        <div class="page-title">
            <div class="row">
                <div class="col-md-6">
                    <h3>ناز</h3>
                </div>
                <div class="col-md-6 pull-right">
                    <ol class="breadcrumb ">
                        <li><a href="@Url.Action("index","home")">خانه</a></li>
                        <li class="active">ناز </li>
                    </ol>
                </div>
            </div><!-- Container /- -->
        </div>
    </div>

    <div class="col-md-12 content-area">
        <div class="author-page">
            <div class="row">
                <div class="author-grid" id="author-grid" style="position: relative; height: 725.032px;"><article class=' col-md-12 col-lg-12  hentry  format-link  category-cute '><div class='defaultForAllPost'>
        <div class='post-box'><div class='entry-content'><div class='bg-overlay' style='background-color:#3904a2'></div><h3>خاطره جالب خواننده سرشناس از محمدرضا شجریان</h3> <a href='@Url.Action("Post","cute", new {postID = 13})'> <i class='fa fa-link'></i> لینک خبر</a></div></div>
    </div></article></div>
            </div>
        </div>
    </div>
</div>