<article class="col-md-4 format-standard hentry category-quiz">
    <div class="post-box">
        <div class="entry-cover">
            <a href="">
                <!-- post/post-20.html اضافه كردن مسير پست-->
                <!----اضافه كردن مسيز تصوير-->
                <img width="290" height="170" src=""
                     alt="" />  <!--اضافه كردن اي ال تي-->
            </a>
            <div class="post-category">
                <a href="" class="cat-quiz">شوخی</a> <!--اضافه كردن گروه شوخي لينك قرمز بالا-->
            </div>
            <a href="post/post-20.html" class="special-rm-arrow">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="post/post-20.html">تابستان قصد داريد به كجا برويد؟</a>
            </h3>
        </div>
        <div class="entry-footer">
            <div class=" row">
                <div class="col-md-12">
                    <ul class="common-meta">
                        <li>
                            <i class="fa fa-user"></i>
                            <a href="post/admin.html" title="Posts by admin" rel="author">مدير</a>
                        </li>

                        <li>
                            <i class="fa fa-comment"></i>
                            <a href="post/post-27.htmll">0</a>
                        </li>
                        <li class="post-like">
                            <a href="#">
                                <i class="fa fa-eye"></i>3480
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</article>


