<article class="col-md-4  format-standard  hentry category-cute category-entertainment">
    <div class="post-box">
        <div class="entry-cover">
            <a href="post/post-23.html">
                <img width="290" height="170" src="" 
                     alt="" />
            </a>
            <div class="post-category">
                <a href="" class="cat-cute">ناز </a>
            </div>
            <a href="post/post-23.html" class="special-rm-arrow">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="post/post-23.html">مین ها جهان را فتح می کنند</a>
            </h3>
        </div>
        <div class="entry-footer">
            <div class=" row">
                <div class="col-md-12">
                    <ul class="common-meta">
                        <li>
                            <i class="fa fa-user"></i>
                            <a href="post/admin.html" title="Posts by admin" rel="author">مدير</a>
                        </li>

                        <li>
                            <i class="fa fa-comment"></i>
                            <a href="post/post-23.html#comments">1</a>
                        </li>
                        <li class="post-like">
                            <a href="#">
                                <i class="fa fa-eye"></i>2082
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</article>