<article class="col-md-4 format-link  hentry category-entertainment category-sexy "
         id="post-39">
    <div class="post-box">
        <div class="entry-content">
            <div class="bg-overlay" style="background-color:rgba(238,28,37, 0.8)"></div>
            <h3>
                لینک ویژه برجسته امروز یک وب سایت است که فرایند تولید مواد غذایی را هنر می کند
            </h3>
            <a href="http://www.google.com">
                <i class="fa fa-link"></i>http://www.google.com
            </a>
        </div>
    </div>
</article>