<article class='col-md-4 hentry  format-standard  category-bizarre '>
    <div class="post-box">
        <div class="entry-cover">
            <div id="15437560721097752">
                <script type="text/JavaScript" src="https://www.aparat.com/embed/0Z2eg?data[rnddiv]=15437560721097752&data[responsive]=yes"></script>
            </div>
            <div class='post-category'>
                <a href='@Url.Action("Index","bizarre")' class=' cat-bizarre '> عجیب و غریب </a>
            </div>
            @*  <a href='@Url.Action("Post","bizarre", new {postID = 2249})' class='special-rm-arrow'><i class='fa fa-arrow-right'></i></a>*@
        </div>
        <div class="entry-content">
            <h3 class="entry-title"> <a href='@Url.Action("Post","bizarre", new {postID = 2249})'>زیباکلام: روحانی به عربستان توهین کرد</a></h3>
        </div>
        <div class="entry-footer">
            <div class=' row'>
                <div class='col-md-12'>
                    <ul class='common-meta' style='width:auto'>
                        <li>
                            <i class='fa fa-user'></i>
                            <a href='Admin/آرمان دانشور' title="ایجادکننده'آرمان" دانشور'="" rel='author'>آرمان دانشور</a>
                        </li>
                        <li><i class='fa fa-comment'> 0</i><a href='Comment/2249'> </a></li>
                        <li class='post-like'><a href='#'><p class='fa fa-eye'> </a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</article>