<article class='col-md-4  format-video hentry category-bizarre'>
    <div class='defaultForAllPost'>
        <div class='post-box'>
            <div class='entry-cover'>
                <div class='flex-video'>
                    <div style='width: 640px;' class='wp-video'>
                        <!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
                        <video class='wp-video-shortcode' id='video-446-1' width='640' height='360' preload='metadata' controls='controls'>
                            <source type='video/mp4' src='~/Content/Video/grasshopper.mp4?_=1' />
                            <a href='~/Content/Video/grasshopper.mp4'>~/Content/Video/grasshopper.mp4</a>
                        </video>
                    </div>
                </div>
                <div class='post-category'>
                    <a href='Post/Post-10.html' class='cat-animals'>حیوانات</a>
                </div>



                <a href='post/post-29.html' class='special-rm-arrow'>
                    <i class='fa fa-arrow-right'></i>
                </a>
            </div>
            <div class='entry-content'>
                <h3 class='entry-title'>
                    <a href='post/post-29.html'>ما تازه ترین ویدیوهای میزبانی خود را در اطراف خود داریم</a>
                </h3>
            </div>
            <div class='entry-footer'>
                <div class=' row'>
                    <div class='col-md-12'>
                        <ul class='common-meta'>
                            <li>
                                <i class='fa fa-user'></i>
                                <a href='post/admin.html' title='Posts by admin' rel='author'>مدير</a>
                            </li>

                            <li>
                                <i class='fa fa-comment'></i>
                                <a href='post/post-29.html#respond'>0</a>
                            </li>
                            <li class='post-like'>
                                <a href='#'>
                                    <i class='fa fa-eye'></i>956
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>