<aside id="alc-totalposts-widget-2" class="widget sidebar-widget widget_alc_totalposts postTabWidget">
    <div class="tab-widget popular-latest-posts style1">
        <ul id="postTab" class="nav nav-tabs">
            <li>
                <a href="#widget-mostviewed" data-toggle="tab">بیشترین بازدید</a>
            </li>
            <li>
                <a href="#widget-popular" data-toggle="tab">محبوب</a>
            </li>
        </ul>
        <div id="tab-content" class="tab-content">
            <div id="widget-mostviewed right-slider1" class="tab-pane fade">
                <ul class="recent_posts_wid">
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/where-should-you-plan-your-summer-vacation-2/">
                                1
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/where-should-you-plan-your-summer-vacation-2/">Where Should You Plan Your Summer Vacation?</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Mar 09, 2016
                                    </li>
                                    <li class="item-count">
                                        <i class="fa fa-eye"></i>3480
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/the-minions-conquer-the-world/">
                                2
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/the-minions-conquer-the-world/">The Minions conquer the world</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Mar 02, 2016
                                    </li>
                                    <li class="item-count">
                                        <i class="fa fa-eye"></i>2082
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/multi-pages-quiz-with-progress-bar/">
                                3
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/multi-pages-quiz-with-progress-bar/">Multi-pages quiz with progress bar</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Mar 03, 2016
                                    </li>
                                    <li class="item-count">
                                        <i class="fa fa-eye"></i>1896
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/self-hosted-audio-posts-are-the-best/">
                                4
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/self-hosted-audio-posts-are-the-best/">Self hosted audio posts are the best</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Mar 06, 2016
                                    </li>
                                    <li class="item-count">
                                        <i class="fa fa-eye"></i>1655
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/national-geographic-unique-lodges-of-the-world-12-photos/">
                                5
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/national-geographic-unique-lodges-of-the-world-12-photos/">National Geographic Unique Lodges of the World (12 Photos)</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Feb 28, 2016
                                    </li>
                                    <li class="item-count">
                                        <i class="fa fa-eye"></i>1169
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="widget-popular right-slider2" class="tab-pane fade">
                <ul class="recent_posts_wid">
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/these-6-women-got-written-out-of-tech-history-theyre-finally-being-recognized/"
                               rel="bookmark">
                                1
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/these-6-women-got-written-out-of-tech-history-theyre-finally-being-recognized/">Listen to the Panda. It&#8217;s the best thing you can do today</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Jan 28, 2016
                                    </li>
                                    <li>
                                        <a class="item-comment-count" href="http://viralnews.weblusive-themes.com/blog/these-6-women-got-written-out-of-tech-history-theyre-finally-being-recognized/#comments">4 Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/the-minions-conquer-the-world/" rel="bookmark">
                                2
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/the-minions-conquer-the-world/">The Minions conquer the world</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Mar 02, 2016
                                    </li>
                                    <li>
                                        <a class="item-comment-count" href="http://viralnews.weblusive-themes.com/blog/the-minions-conquer-the-world/#comments">1 Comment</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/do-you-want-a-pizza/" rel="bookmark">
                                3
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/do-you-want-a-pizza/">Do you want a pizza ?</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Jan 09, 2016
                                    </li>
                                    <li>
                                        <a class="item-comment-count" href="http://viralnews.weblusive-themes.com/blog/do-you-want-a-pizza/#respond">No Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/we-have-the-freshest-self-hosted-videos-around/"
                               rel="bookmark">
                                4
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/we-have-the-freshest-self-hosted-videos-around/">We have the freshest self hosted videos around</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Mar 02, 2016
                                    </li>
                                    <li>
                                        <a class="item-comment-count" href="http://viralnews.weblusive-themes.com/blog/we-have-the-freshest-self-hosted-videos-around/#respond">No Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="post-item">
                        <div class="media">
                            <a class="item-img media-left" href="http://viralnews.weblusive-themes.com/blog/are-you-a-nice-person-2/" rel="bookmark">
                                5
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading item-title">
                                    <a href="http://viralnews.weblusive-themes.com/blog/are-you-a-nice-person-2/">Are you a nice person ?</a>
                                </h4>
                                <ul class="item-meta">
                                    <li class="item-date">
                                        <i class="fa fa-calendar"></i>Jan 09, 2016
                                    </li>
                                    <li>
                                        <a class="item-comment-count" href="http://viralnews.weblusive-themes.com/blog/are-you-a-nice-person-2/#respond">No Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>